html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-sans);
}

main {
    padding: 0 var(--spacing-4);
}

/**************************
 ***** Navbar Section *****
 **************************/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-4) var(--spacing-8);
}

.navbar__brand {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.navbar__brand-logo {
    height: 35px;
    width: 35px;
    stroke: #000;
}

.navbar__brand-name {
    font-weight: bold;
    font-size: var(--font-2xl);
    letter-spacing: 1px;
}

.navbar__nav-links {
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
}

@media (max-width: 768px) {
    .navbar__nav-links {
        gap: var(--spacing-6);
    }
}

.navbar__nav-actions {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}

.navbar__nav-action > a {
    display: inline-block;
}

.navbar-action-icon {
    width: 25px;
    height: 25px;
}

/************************
 ***** Hero Section *****
 ************************/
.hero {
    padding: var(--spacing-12) 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-2);
    align-items: center;
}

.hero__img {
    position: relative;
}

.hero__pattern {
    position: absolute;
    width: 45%;
    height: 15%;
    background-color: #ddd;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    opacity: 0.7;
    border-radius: 15px;
    transform: skewX(-20deg);
}

.hero__pattern-1 {
    top: -1rem;
    left: -2rem;
}

.hero__pattern-2 {
    bottom: -1rem;
    right: 15%;
}

.hero__body h1 {
    font-size: var(--font-5xl);
    line-height: 1.35;
    font-weight: 600;
}

.text-special {
    display: inline-block;
    padding: 0 var(--spacing-1);
    background-color: #000;
    color: #fff;
}

.hero__paragraph {
    margin-top: var(--spacing-9);
    line-height: 1.5;
    font-size: var(--font-lg);
    color: var(--text-light);
}

.hero__btn-group {
    margin-top: var(--spacing-6);
    display: flex;
    gap: var(--spacing-6);
    flex-wrap: wrap;
}

.hero__btn-group > a {
    display: inline-block;
    padding: var(--spacing-3) var(--spacing-9);
    font-size: var(--font-lg);
    border: 1px solid #000;
    border-radius: var(--border-rounded-lg);
    transition: all 0.15s ease-out;
    z-index: 2;
}

.hero__btn-dark {
    color: #fff;
    background-color: #000;
}

.hero__btn-light:hover {
    color: #fff;
    background-color: #000;
}

/****************************
 ***** Projects section *****
 ****************************/
.projects {
    padding: var(--spacing-16) 0;
}

.projects__header {
    text-align: center;
}

h2 {
    font-size: var(--font-5xl);
    font-weight: bold;
}

.projects__header > p {
    color: #333;
}

.chip-fieldset {
    margin-top: var(--spacing-6);
}

.chip-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-3);
}

.chip-group__input {
    display: none;
}

.chip-group__label {
    letter-spacing: 0.5px;
    background-color: #eee;
    padding: var(--spacing-2) var(--spacing-6);
    border-radius: var(--border-rounded-full);
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.chip-group__label:hover {
    background-color: #ccc;
}

.chip-group__input:checked + .chip-group__label {
    background-color: #000;
    color: #fff;
}

.chip-group__disabled {
    letter-spacing: 0.5px;
    background-color: #eee;
    padding: var(--spacing-2) var(--spacing-6);
    border-radius: var(--border-rounded-full);
    user-select: none;
    transition: all 0.15s ease-out;
}

.project__card-list {
    margin-top: var(--spacing-12);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-24);
}

.project__card {
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

.card__img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 350px;
    overflow: hidden;
}

.card__title {
    margin-top: var(--spacing-8);
    font-size: var(--font-xl);
    font-style: italic;
    font-weight: bold;
}

.card__title + .chip-group {
    margin-top: var(--spacing-3);
}

.card__description {
    margin-top: var(--spacing-4);
    line-height: 1.75;
    color: var(--text-light);
}

.card__description:first-of-type {
    margin-top: var(--spacing-4);
}

.card__description:last-of-type {
    margin-bottom: var(--spacing-6);
}

.card__inline-link {
    text-decoration: underline;
}

.card__btn-group {
    opacity: 0;
    transition: all 0.15s ease-out;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-2);
}

@media (max-width: 1024px) {
    .card__btn-group {
        opacity: 1;
    }
}

.project__card:hover .card__btn-group {
    opacity: 1;
}

.card__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2);
    padding: var(--spacing-3) var(--spacing-4);
    border-radius: var(--border-rounded-lg);
    border: 1px solid #000;
    transition: all 0.15s ease-out;
}

.card__btn:first-of-type {
    background-color: #000;
    color: #fff;
}

.card__btn:hover {
    background-color: #000;
    color: #fff;
}

.card__btn.card__btn-single {
    grid-column: 1 / span 2;
    background-color: #fff;
    color: #000;
}

.card__btn.card__btn-single:hover {
    background-color: #000;
    color: #fff;
}

.card__btn-img-visit {
    color: #fff;
    height: 16px;
    width: 16px;
    transition: all 0.15s ease-out;
}

.card__btn-img-github {
    height: 24px;
    width: 24px;
    fill: #000;
    transition: all 0.15s ease-out;
}

.card__btn:hover .card__btn-img-github {
    fill: #fff;
}

.card--hidden {
    display: none;
}

/**************************
 ***** Resume section *****
 **************************/

.resume__header {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}

.resume__header > p {
    margin-top: var(--spacing-2);
    color: var(--text-light);
    line-height: 1.75;
}

.resume__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.resume__container h3 {
    margin-top: var(--spacing-16);
    font-size: var(--font-2xl);
    color: #fff;
    background-color: #000;
    padding: 0 var(--spacing-1);
}

.resume__container h4 {
    margin-top: var(--spacing-5);
    margin-bottom: var(--spacing-2);
    font-weight: bold;
    font-size: var(--font-lg);
}

.resume__container p {
    margin-top: var(--spacing-1);
    line-height: 1.75;
}

.resume__work-experience {
    margin-top: var(--spacing-9);
}

.resume__work-experience a {
    text-decoration: underline;
}

.work__description {
    font-size: var(--font-sm);
}

.work__description:not(:first-of-type) {
    margin-top: var(--spacing-3);
}

.resume__year {
    margin-top: var(--spacing-2);
    color: var(--text-light);
    font-size: var(--font-sm);
}

.resume__skills-list > li {
    margin-top: var(--spacing-6);
}

.resume__skills-list p {
    font-size: var(--font-sm);
}

.resume__skills-list p:first-child {
    font-weight: bold;
    font-size: var(--font-base);
}

.resume__download {
    margin-top: var(--spacing-12);
    text-align: center;
}

.btn-small {
    display: inline-block;
    margin-top: var(--spacing-3);
    margin-right: auto;
    margin-left: auto;
    background-color: #000;
    padding: var(--spacing-2) var(--spacing-9);
    border-radius: var(--border-rounded-lg);
    color: #fff;
    font-size: var(--font-sm);
}

.btn-small > .btn-innards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2);
}

.btn-innards > svg {
    height: 16px;
    width: 16px;
    color: inherit;
}

.card__inline-link::after,
.inline-link::after {
    content: "";
    width: 9px;
    height: 9px;
    margin-left: 1px;
    vertical-align: super;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

/***************************
 ***** Contact section *****
 ***************************/

.contact__header {
    margin-top: var(--spacing-36);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact__header > p {
    margin-top: var(--spacing-2);
    color: var(--text-light);
}

.contact__email > a {
    text-decoration: underline;
    font-weight: bold;
}

.contact__form {
    max-width: 450px;
    margin: 0 auto;
    margin-top: var(--spacing-9);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}

.contact__form input {
    display: block;
    width: 100%;
    margin-top: var(--spacing-1);
    padding: var(--spacing-2);
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: var(--border-rounded-sm);
}

.contact__form input:focus {
    outline: 2px solid #000;
}

.contact__form textarea {
    display: block;
    width: 100%;
    margin-top: var(--spacing-1);
    padding: var(--spacing-2);
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: var(--border-rounded-sm);
}

.contact__form textarea:focus {
    outline: 2px solid #000;
}

.svg-small {
    height: 14px; 
    width: 14px;
}

/******************
 ***** Footer *****
 ******************/

footer {
    margin-top: var(--spacing-24);
    display: flex;
    justify-content: space-around;
    padding: var(--spacing-4);
    background-color: #f5f5f5;
    font-size: var(--font-sm);
}

footer > a {
    text-decoration: underline;
}

 
 /*****************
 ***** Misc. *****
 *****************/

/* Used for contact form */
.hidden {
    display: none !important;
}

@media (max-width: 640px) {
    .mobile-hidden {
        display: none;
    }
}